.input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
  width: 250px;
}

.input:focus {
  border-color: #2563eb; /* azul destaque */
  box-shadow: 0 0 6px rgba(37, 99, 235, 0.4);
}